body {
  color: color(red);
  background-color: color(red tint(50%));
  border-color: color(hsla(125, 50%, 50%, .4) hue(200));
  border-top-color: color(hwb(270, 10%, 0%) contrast(50%));

  border-bottom-color: hover-color(red);

  border-right-color: hover-color(color(red tint(50%)));

  border-color: color(#999 a(0.8)) color(#999 a(0.8));
}
