body {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 128, 128);
  border-color: rgba(64, 149, 191, 0.4);
  border-top-color: rgb(248, 240, 255);

  border-bottom-color: hover-color(red);

  border-right-color: hover-color(rgb(255, 128, 128));

  border-color: rgba(153, 153, 153, 0.8) rgba(153, 153, 153, 0.8);
}

.withAlpha {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(128, 0, 0, 0.5);
  border-color: rgba(255, 128, 128, 0.8);
}
